<a href="https://colab.research.google.com/github/pablinesamara/PythonSenai/blob/main/ExercicioForPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Um engenheiro precisa contar os tijolos empilhados de 1 até 100. Crie um
programa que mostre essa contagem.

In [ ]:
tijolos= 0
for cont in range(100):
  tijolos+=1
  print("Tijolos: ",tijolos)

Tijolos:  1
Tijolos:  2
Tijolos:  3
Tijolos:  4
Tijolos:  5
Tijolos:  6
Tijolos:  7
Tijolos:  8
Tijolos:  9
Tijolos:  10
Tijolos:  11
Tijolos:  12
Tijolos:  13
Tijolos:  14
Tijolos:  15
Tijolos:  16
Tijolos:  17
Tijolos:  18
Tijolos:  19
Tijolos:  20
Tijolos:  21
Tijolos:  22
Tijolos:  23
Tijolos:  24
Tijolos:  25
Tijolos:  26
Tijolos:  27
Tijolos:  28
Tijolos:  29
Tijolos:  30
Tijolos:  31
Tijolos:  32
Tijolos:  33
Tijolos:  34
Tijolos:  35
Tijolos:  36
Tijolos:  37
Tijolos:  38
Tijolos:  39
Tijolos:  40
Tijolos:  41
Tijolos:  42
Tijolos:  43
Tijolos:  44
Tijolos:  45
Tijolos:  46
Tijolos:  47
Tijolos:  48
Tijolos:  49
Tijolos:  50
Tijolos:  51
Tijolos:  52
Tijolos:  53
Tijolos:  54
Tijolos:  55
Tijolos:  56
Tijolos:  57
Tijolos:  58
Tijolos:  59
Tijolos:  60
Tijolos:  61
Tijolos:  62
Tijolos:  63
Tijolos:  64
Tijolos:  65
Tijolos:  66
Tijolos:  67
Tijolos:  68
Tijolos:  69
Tijolos:  70
Tijolos:  71
Tijolos:  72
Tijolos:  73
Tijolos:  74
Tijolos:  75
Tijolos:  76
Tijolos:  77
Tijolos:  78
Tijolos:  79
Tijolos:  80
Tijolos:  81
Tijolos:  82
Tijolos:  83
Tijolos:  84
Tijolos:  85
Tijolos:  86
Tijolos:  87
Tijolos:  88
Tijolos:  89
Tijolos:  90
Tijolos:  91
Tijolos:  92
Tijolos:  93
Tijolos:  94
Tijolos:  95
Tijolos:  96
Tijolos:  97
Tijolos:  98
Tijolos:  99
Tijolos:  100

2. Um pintor pinta postes de luz e pinta apenas os de número par. Mostre
quais postes de 1 a 50 ele irá pintar.

In [ ]:
pintar =0
for postes in range (1,51):

  if postes %2 == 0:
    pintar+=1
    print("Pintar poste numero : ", postes)

print("Pintar : ",pintar,"postes")

Pintar poste numero :  2
Pintar poste numero :  4
Pintar poste numero :  6
Pintar poste numero :  8
Pintar poste numero :  10
Pintar poste numero :  12
Pintar poste numero :  14
Pintar poste numero :  16
Pintar poste numero :  18
Pintar poste numero :  20
Pintar poste numero :  22
Pintar poste numero :  24
Pintar poste numero :  26
Pintar poste numero :  28
Pintar poste numero :  30
Pintar poste numero :  32
Pintar poste numero :  34
Pintar poste numero :  36
Pintar poste numero :  38
Pintar poste numero :  40
Pintar poste numero :  42
Pintar poste numero :  44
Pintar poste numero :  46
Pintar poste numero :  48
Pintar poste numero :  50
Pintar :  25 postes

3. Numa maratona, os participantes com número ímpar recebem um kit
especial. Mostre todos os números ímpares de 1 a 100.

In [1]:
participantesImpar =0
for participantes in range (1,100):

  if participantes %2 != 0:
    participantesImpar+=1
    print("Kit Especial para nº : ", participantes)

Kit Especial para nº :  1
Kit Especial para nº :  3
Kit Especial para nº :  5
Kit Especial para nº :  7
Kit Especial para nº :  9
Kit Especial para nº :  11
Kit Especial para nº :  13
Kit Especial para nº :  15
Kit Especial para nº :  17
Kit Especial para nº :  19
Kit Especial para nº :  21
Kit Especial para nº :  23
Kit Especial para nº :  25
Kit Especial para nº :  27
Kit Especial para nº :  29
Kit Especial para nº :  31
Kit Especial para nº :  33
Kit Especial para nº :  35
Kit Especial para nº :  37
Kit Especial para nº :  39
Kit Especial para nº :  41
Kit Especial para nº :  43
Kit Especial para nº :  45
Kit Especial para nº :  47
Kit Especial para nº :  49
Kit Especial para nº :  51
Kit Especial para nº :  53
Kit Especial para nº :  55
Kit Especial para nº :  57
Kit Especial para nº :  59
Kit Especial para nº :  61
Kit Especial para nº :  63
Kit Especial para nº :  65
Kit Especial para nº :  67
Kit Especial para nº :  69
Kit Especial para nº :  71
Kit Especial para nº :  73
Kit Especial para nº :  75
Kit Especial para nº :  77
Kit Especial para nº :  79
Kit Especial para nº :  81
Kit Especial para nº :  83
Kit Especial para nº :  85
Kit Especial para nº :  87
Kit Especial para nº :  89
Kit Especial para nº :  91
Kit Especial para nº :  93
Kit Especial para nº :  95
Kit Especial para nº :  97
Kit Especial para nº :  99

4. Cinco amigos fizeram uma vaquinha. Crie um programa que leia quanto
cada um contribuiu e, no final, mostre a soma total e a média.

In [2]:
1total_contribuicao = 0
numero_amigos = 5

for i in range(numero_amigos):
  contribuicao = float(input(f"Contribuição Amigo {i+1} valor R$ :"))
  total_contribuicao += contribuicao

media_contribuicoes = total_contribuicao / numero_amigos

print("\nSoma total das contribuições: R$", total_contribuicao)
print("Média das contribuições: R$", media_contribuicoes)

Contribuição Amigo 1 valor R$ :10
Contribuição Amigo 2 valor R$ :11
Contribuição Amigo 3 valor R$ :12
Contribuição Amigo 4 valor R$ :13
Contribuição Amigo 5 valor R$ :14

Soma total das contribuições: R$ 60.0
Média das contribuições: R$ 12.0

5. Em um bingo, foram sorteados 10 números. Mostre quantos foram pares
e quantos foram ímpares.

In [ ]:
par=0
impar=0
for sorteados in range(10):
  numeroSorteado=int(input("Digite o numero sorteado: "))
  if numeroSorteado%2!=0:
    impar+=1
  else:
    par+=1
print("Numeros sorteados impar: ",impar)
print("Numeros sorteados Par: ",par)

Digite o numero sorteado: 1
Digite o numero sorteado: 2
Digite o numero sorteado: 3
Digite o numero sorteado: 4
Digite o numero sorteado: 5
Digite o numero sorteado: 6
Digite o numero sorteado: 7
Digite o numero sorteado: 8
Digite o numero sorteado: 9
Digite o numero sorteado: 10
impar:  5
Par:  5

6. Um estudante está treinando multiplicação. Peça um número e mostre a
tabuada dele de 1 a 10.

In [5]:
numeroUsuario= int (input("Digte o numero: "))
for contador in range(1,11):
  resultado =numeroUsuario*contador
  print(f"{numeroUsuario} x {contador} = {resultado}")

Digte o numero: 1
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

7. Uma escola quer imprimir todas as tabuadas de 1 a 10. Crie um programa
que mostre as tabuadas organizadas.

In [ ]:
for contador in range(1,11):
  print("Tabuada do ", contador)
  for i in range(1,11):
    print(contador,"x",i,"=", contador*i)
  print()

8. Numa trilha, há placas numeradas de 1 a 20. Mostre os números, primeiro
um abaixo do outro, depois lado a lado.

In [8]:
for cont in range(1,21):
    print(cont)
for cont2 in range(1,21):
    print(cont2, end=" ")

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

9. Uma biblioteca quer listar apenas os livros com ID ímpar entre 1 e 50. Crie
esse programa.

In [14]:

for iD in range(1,51):
  if iD%2!=0:
    print("ID impar: ",iD)

ID impar:  1
ID impar:  3
ID impar:  5
ID impar:  7
ID impar:  9
ID impar:  11
ID impar:  13
ID impar:  15
ID impar:  17
ID impar:  19
ID impar:  21
ID impar:  23
ID impar:  25
ID impar:  27
ID impar:  29
ID impar:  31
ID impar:  33
ID impar:  35
ID impar:  37
ID impar:  39
ID impar:  41
ID impar:  43
ID impar:  45
ID impar:  47
ID impar:  49

10.Crie um programa que leia dois números inteiros e mostre todos os
números inteiros entre eles.

In [16]:
num1 = int(input("Digite um numero inteiro: "))
num2 = int(input("Digite o 2º numero inteiro: "))

menor= min(num1, num2)
maior= max(num1,num2)

for i in range(menor+1, maior):
    print(i)

Digite um numero inteiro: 1
Digite o 2º numero inteiro: 5
2
3
4

11.Uma loja cadastrou 5 vendas. Ela quer saber se faturou mais que
R$54.000. Informe e, se ultrapassou, mostre quanto ultrapassou.

In [17]:
faturamento = 0
for c in range(1,6): #Cadastro de 5 clientes
  venda = float(input(f"Digite o valor da compra do Cliente: {c}"))
  faturamento += venda #Atribui vendas na variavel
#Verifica se o faturamento superou 54000
if faturamento >54000:
  diferenca= faturamento-54000
  print(f"O Faturamento superou a loja B em R${diferenca:.27}")
else:
  print("O Faturamentos Não superou a loja B")

Digite o valor da compra do Cliente: 110000
Digite o valor da compra do Cliente: 220000
Digite o valor da compra do Cliente: 330000
Digite o valor da compra do Cliente: 450000
Digite o valor da compra do Cliente: 560000
O Faturamento superou a loja B em R$116000.0

12.Robôs numerados de 2 a 20 fazem uma corrida, mas só podem andar de
dois em dois. Mostre os números dos robôs correndo.

In [25]:
robosCorrendo=0
for robos in range(2,21):
  if robos %2 ==0:
    print("Robo numero par : ",robos)
    robosCorrendo+=1
print("Robos Correndo em pares: ",robosCorrendo)

Robo numero par :  2
Robo numero par :  4
Robo numero par :  6
Robo numero par :  8
Robo numero par :  10
Robo numero par :  12
Robo numero par :  14
Robo numero par :  16
Robo numero par :  18
Robo numero par :  20
Robos Correndo em pares:  10

13.No concurso da cidade, os números de inscrição entre 1000 e 2000 que
deixam resto 2 ao serem divididos por 11 ganham um brinde. Liste esses
números.

In [ ]:
ganhamBrinde=0
for inscritos in range(1000,2001):
  if inscritos %11 ==2:
    print("Nº Ganha brinde : ",inscritos)

14.Faça uma contagem regressiva de 10 até 1 e, ao final, exiba "Lançar
Foguete!".

In [29]:
for cont in range(10,0, -1):
  print(cont)
print("********Lançar Foguete!********")

10
9
8
7
6
5
4
3
2
1
********Lançar Foguete!********

15.Uma criança guarda moedas diariamente por 30 dias. Peça o valor de
cada moeda e mostre o total no cofrinho.

In [32]:
saldoCofrinho=0
for cofrinho in range (1,31):
  saldoCofrinho+=float(input("Valor adicionado: "))
print(f"Saldo Cofrinho = R$ {saldoCofrinho:.2f}")

Valor adicionado: 1
Valor adicionado: 1
Valor adicionado: 1
Valor adicionado: 1
Valor adicionado: 1
Valor adicionado: 1
Valor adicionado: 1
Valor adicionado: 1
Valor adicionado: 1
Valor adicionado: 1
Valor adicionado: 1
Valor adicionado: 1
Valor adicionado: 1
Valor adicionado: 1
Valor adicionado: 1
Valor adicionado: 1
Valor adicionado: 1
Valor adicionado: 1
Valor adicionado: 1
Valor adicionado: 1
Valor adicionado: 1
Valor adicionado: 1
Valor adicionado: 1
Valor adicionado: 1
Valor adicionado: 1
Valor adicionado: 1
Valor adicionado: 1
Valor adicionado: 1
Valor adicionado: 1
Valor adicionado: 1
Saldo Cofrinho = R$ 30.00